name: 'Chromatic Deployment'

on: push

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
      - name: Publish Project packages/core/sds to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN_SDS }}
          workingDir: ./packages/core/sds

      - name: Publish Project apps/web to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN_WEB }}
          workingDir: ./apps/web
