name: 'Chromatic Deployment'

on: push

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Show current directory
        run: pwd

      - name: List files in current directory
        run: ls -la

      - name: Publish Project apps/web to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN_WEB }}
          workingDir: apps/web
          onlyChanged: true
          externals: packages/web-domains/assets

      - name: Publish Project packages/sds to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN_SDS }}
          onlyChanged: true
          workingDir: packages/core/sds
          externals: packages/core/sds/assets
