name: Deploy

on:
  workflow_dispatch:
    inputs:
      user_name:
        description: 배포한 사용자
        required: true
        type: string
      stage_choice:
        description: 배포 유형 (production,devleop)
        type: choice
        options:
          - develop
          - production

run-name: '${{inputs.user_name}} runs workflow for ${{inputs.stage_choice}} deploy'

jobs:
  deploy:
    uses: './.github/workflows/deploy-integration.yml'
    with:
      user_name: ${{inputs.user_name}}
      stage: ${{inputs.stage_choice}}
    secrets:
      ACCESS_TOKEN: ${{secrets.ACCESS_TOKEN}}
